<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Full Stack Development Portfolio</title>
  <link rel="stylesheet" href="css/fsDevel.css">
  <link rel="icon" href="images/favicon-16x16.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>

<body class="software-top-container">
  <div>
    <h4 class="software-title">My Full Stack Development Portfolio</h4>
    <hr class="dotted-line">
    <div class="software-content">
      <ul>
        <div class="pastproj-container">
          <li class="pastproj-subtitle"><h4>Placeholder</h4></li>
          <p>
              Placeholder text for future full stack development projects.
          </p>
          <ul>
            <li><h4>Placeholder</h4></li>
            <img src="images/none.gif" alt="imageplaceholder" width="100%">
            <p>
                Placeholder text for future full stack development projects.
            </p>
            <img src="images/none.gif" alt="imageplaceholder" width="100%">
            <p>
                Placeholder text for future full stack development projects.
            </p>
            <li><h4>Placeholder</h4></li>
              <img src="images/none.gif" alt="imageplaceholder" width="100%">
              <p>
                Placeholder text for future full stack development projects.
              </p>
            <li><h4>Placeholder</h4></li>
              <p>
                Placeholder text for future full stack development projects.
              </p>
              <img src="images/none.gif" alt="imageplaceholder" width="100%">
              <p>
                Placeholder text for future full stack development projects.
              </p>
              <img src="images/none.gif" alt="imageplaceholder" width="100%">
              <p>
                Placeholder text for future full stack development projects.
              </p>
          </ul>
        </div>
      </ul>
    </div>

    <form class="item" action="/" method="post">
      <button type="button submit" name="navLink" value="fsDevel" class="btn btn-outline-primary">Back To Main Page</button>
    </form>
  </div>


</body>
<footer id="footer-swDevel">
  <p><%= setFooterText %></p>
</footer>
</html>
