<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>My hobbies</title>
  <link rel="stylesheet" href="css/hobbies.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
</head>

<body>
  <div class="top-container">
    <h3>My hobbies</h3>
    <ol type="I">
      <li>Coding</li>
      <li>Watching Youtube</li>
      <li>Reading</li>
    </ol>

    <img class="mountain" src="images/20150118.jpg" alt="">
    <img class="top-cloud" src="images/20160220.jpg" alt="">
    <img class="mid-cloud" src="images/20160704.jpg" alt="">

  </div>

  <form class="item" action="/" method="post">
    <button type="submit" name="list" value="">Back</button>
  </form>
</body>

</html>
