<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>My hobbies</title>
  <link rel="stylesheet" href="css/hobbies.css">
  <%- include("partials/header.ejs")%>
</head>
<%# Show the hobbies page%>
<body class="hobbies-top-container">
  <div >
    <h4 class="hobbies-title">My Drawing and Design Portfolio</h4>
    <hr class="dotted-line">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" style="min-height: 500px;">
          <img src="images/20160220.jpg" class="img-fluid rounded portfolio-image" alt="...">
        </div>
        <div class="carousel-item" style="min-height: 500px;">
          <img src="images/20160704.jpg" class="img-fluid rounded portfolio-image" alt="...">
        </div>
        <div class="carousel-item" style="min-height: 500px;">
          <img src="images/20150118_2.jpg" class="img-fluid rounded portfolio-image" alt="...">
        </div>
        <div class="carousel-item" style="min-height: 500px;">
          <img src="images/Brochure_Outside_small.jpg" class="img-fluid rounded portfolio-image" alt="...">
        </div>
        <div class="carousel-item" style="min-height: 500px;">
          <img src="images/Brochure_Inside_small.jpg" class="img-fluid rounded portfolio-image" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <form class="item" action="/" method="post">
      <button type="button submit" name="navLink" value="hobbies" class="btn btn-outline-primary">Back To Main Page</button>
    </form>
  </div>


</body>
<footer id="footer-hobbies">
  <p><%= setFooterText %></p>
</footer>
</html>
