<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>WeiChuan's Personal Website</title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="icon" href="images/favicon-16x16.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</head>

<body>
  <section class="main-navbar">
    <nav id="bootstrap-overrides-nav" class= "navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#home">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <p id="nav-link-active"><%= navLink %></p>
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="#profile">Profile</a>
            <a class="nav-link" href="#skills">Skills</a>
            <a class="nav-link" href="#pastproj">Projects</a>
            <a class="nav-link" href="#hobbies">Hobbies</a>
            <a class="nav-link" href="#about">About</a>
            <a class="nav-link" href="#contact">Contact</a>
          </div>
        </div>
      </div>
    </nav>
  </section>

<div data-bs-spy="scroll" data-bs-target="#bootstrap-overrides-nav" data-bs-smooth-scroll="true"  tabindex="0">


  <section id="home" class="main-top-container">
    <h2 class="main-hi">Hi !</h2>
    <h1 class="main-myname">I'm Wei Chuan</h1>
    <img class="mountain" src="images/mountainbright.png" alt="">
    <img class="top-cloud" src="images/cloudwhite.png" alt="">
    <img class="mid-cloud" src="images/cloudwhite.png" alt="">
  </section>

  <section class="main-middle-container">
    <div id="profile" class="profile">
      <img src="images/LawWeiChuan_Photo10.png" alt="Wei Chuan profile picture" height="350">
      <h4 class="main-subtitle">Hello.</h4>
      <div class="profile-container">

          <p>I am a research engineer in <a href="https://www.ntu.edu.sg/rris">Rehabilitation Research Institute of Singapore, NTU</a>,
            where I actively engage in robotics innovative solutions.

            Presently, I am honing my skills in web development and JavaScript, with the aim of
            leveraging this expertise to stay competitive.
            I am a self-motivated and dedicated person. I love learning new things everyday.
            Althought I graduated from School of Mechanical Engineering, <strong>I love coding so much! 👍</strong>
          </p>

      </div>
    </div>

    <div id="skills" class="skills">
    <hr>
      <h4 class="main-subtitle">My Skills.</h4>
      <div class="skill-row">
        <div class="soft-skill">
          <img class="code-img" src="https://cdn-icons-png.flaticon.com/128/4412/4412960.png" alt="">
          <h3 class="main-myskill">Soft Skill</h3>
          <p>  Communication,
              Problem solving,
              Adaptability,
              Critical thinking,
              Self-motivation and Independence,
              Time management.
          </p>
        </div>
        <div class="hard-skill">
          <img class="code-img2" src="https://cdn-icons-png.flaticon.com/128/4412/4412862.png" alt="">
          <h3 class="main-myskill">Hard Skill</h3>
          <p> C++,
              HTML, CSS, JavaScript,
              mongoDB, Python, Solidworks, Ansys, etc.
          </p>
        </div>
      </div>
    </div>


    <div id="pastproj" class="pastproj">
    <hr>
      <h4 class="main-subtitle">My Past Projects.</h4>
      <div class="pastproj-container">
        <h4>Robotics Development</h4>
        <p> From tunnel inspection robots to linen gripper, and from industrial automation systems to winch systems,
            my work reflects the seamless integration of form and function.
            My robotics development portfolio is more than a showcase; it's a celebration of the future, a testament to the
            magic of robotics, and an invitation to envision the possibilities of a world where machines and humanity collaborate in perfect harmony.

        </p>
      </div>
      <form class="item" action="/hwDesign" method="post">
        <button type="button submit" name="list" value="" class="btn btn-outline-primary">Robotics Development Portfolio</button>
      </form>
      <div class="pastproj-container">
        <h4>3D Model Rendering</h4>
        <p> In the realm of cutting-edge technology and automation, my passion for robotics comes alive through the art of 3D model rendering.
          Within these digital pages, I have meticulously curated a collection of my most compelling 3D rendering projects,
          each a testament to my technical prowess and my ability to breathe life into robotic concepts.

          In the world of robotics, 3D rendering isn't just a visual representation; it's a language that communicates the potential and promise of technology.
          Through photorealistic renderings and dynamic simulations, I bring these mechanical marvels to life,
          demonstrating not only their capabilities but also their potential impact on society.
        </p>
      </div>
      <form class="item" action="/hwRender" method="post">
        <button type="button submit" name="list" value="" class="btn btn-outline-primary">3D Rendering Portfolio</button>
      </form>
    </div>

    <div id="hobbies" class="hobbies">
    <hr>
      <h4 class="main-subtitle">My Hobbies.</h4>
      <div class="hobbies-container">
          <p> Drawing is one of the most powerful tool I have. It helps me reduce stress and calms my anxiety.
            The moment when I start drawing, those negative feelings melt away instantly.
            Everytime it hurtles me into the flow state of mind easily, allowing me to retreat from the world and
            feel more awake and more alive. It also gives me a bunch of innovative ideas on a subconscious level.
            You may checkout some of my drawings in my portfolio here.
          </p>
      </div>
      <form class="item" action="/hobbies" method="post">
        <button type="button submit" name="list" value="" class="btn btn-outline-primary">My Drawing Portfolio</button>
      </form>
    </div>

    <div id="about" class="about">
    <hr>
      <h4 class="main-subtitle">About This Website.</h4>
      <div class="about-container">
        <p>
          Deploying a website through GitHub is a common practice, and it's often done using a continuous integration and
          continuous deployment (CI/CD) pipeline. CI/CD helps automate the process of building, testing, and deploying
          website whenever changes are pushed to GitHub repository. Here's an overview of the process on how this webpage is deployed:
        </p>
        <img class="about-img" src="images/web-3.png" alt="">
        <br>
        <p>
          (1) Source code of HTML, CSS and Javascript are created.
        </p>
        <p>
          (2) A GitHub repository is created to host my website's source code.
        </p>
        <p>
          (3) With CI/CD pipeline in place, every time changes pushed to GuiHub repository, the pipeline will
          automatically trigger, building and deploying the website. Changes are live in a few seconds with every git push.
          This is where the Cyclic part comes in: the process repeats each time there are updates.
        </p>
        <p>
          (4) A simple
          <!-- <form class="item" action="/toDoList" method="get"> -->
            <!-- <input type="hidden" name="name" value="" />  -->
            <!-- <a onclick="this.parentNode.submit();">to-do list</a> -->
          <!-- </form> -->
          <a href="toDoList" id="employeeLink">to-do list</a>
          using MongoDB has been created for demostration.
        </p>
        <p>
          (5) Website can be accessed across the world.
        </p>
      </div>
    </div>
  </section>



  <section class="main-bottom-container">
    <div id="contact" class="contact-me">
      <h4 class="main-subtitle">Get In Touch.</h4>
      <hr>
      <p>A big thank you for reading this!</p>
      <p>Please contact me if you would like to know more about me.</p>
      <h3><a href="mailto:weichuanlaw@hotmail.com">E-MAIL</a><a href="https://www.linkedin.com/in/weichuan-law/">LinkedIn</a></h3>
      <h5>© 2023 Law Wei Chuan.</h5>
    </div>
  </section>
</div>

<script type="text/javascript">
  window.onload = function ()
  {
    var activated_nav_link = document.getElementById("nav-link-active").innerHTML;
    if(activated_nav_link == "hobbies"){
      var els = document.querySelectorAll("a[href='#hobbies']");
      els[0].click();
    }
    else if(activated_nav_link == "hwDesign"){
      var els = document.querySelectorAll("a[href='#pastproj']");
      els[0].click();
    }
    else if(activated_nav_link == "hwRender"){
      var els = document.querySelectorAll("a[href='#pastproj']");
      els[0].click();
    }
    else if(activated_nav_link == "about"){
      var els = document.querySelectorAll("a[href='#about']");
      els[0].click();
    }
  }
</script>
</body>
</html>
