<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Robotics Development Portfolio</title>
  <link rel="stylesheet" href="css/swDevel.css">
  <link rel="icon" href="images/favicon-16x16.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>

<body class="software-top-container">
  <div>
    <h4 class="software-title">My Software Development Portfolio</h4>
    <hr class="dotted-line">
    <div class="software-content">
      <ul>
        <div class="pastproj-container">
          <li class="pastproj-subtitle"><h4>Stock Screening Application</h4></li>
          <img src="images/sw-Financedemo.png" alt="" width="100%">
          <p> I independently developed this application using C++ with QT libraries to provide comprehensive functionality,
            including chart plotting and exploration of viable approaches to forecast stock trends,
            such as analyzing volume of trade, point and figure charts, indices, etc. It also features
            fully automated web crawling for large-scale time series data from SGX, Google, Yahoo, etc.
            Additionally, the application supports backtesting among 38 technical indicators with
            identified parameters for maximal returns. Check out the video demonstration by clicking my OneDrive link
            <a href="https://1drv.ms/v/s!AmZUuXEUd5PYjI9hlCPTD6M26niPnw?e=MvBYAE"><b>here</b></a>!
          </p>
        </div>

        <div class="pastproj-container">
          <li class="pastproj-subtitle"><h4>Application for Upper Limb Exoskeleton</h4></li>
          <img src="images/sw-ULExoGUI_2.png" alt="" width="100%">
          <p> I was tasked with designing the entire software architecture, integrating software components with
            multithreading, and developing a comprehensive user interface using C++ and Python in ROS within a
            six-month timeframe. The objective of this effort was to realize real-time data visualization for
            IMUs, encoders, and force sensors, allowing users to monitor the condition of the exoskeleton. This system
            enables users to input customized parameters and
            manipulate the upper limb exoskeleton. You can view a demonstration of the system by clicking on the OneDrive link provided
            <a href="https://1drv.ms/v/s!AmZUuXEUd5PYjJ5xuqneegELDF_Egg?e=4dkP9b"><b>here</b></a>!
          </p>
        </div>
        <div class="pastproj-container">
          <li class="pastproj-subtitle"><h4>User Interface for Wheelchair Teleoperation</h4></li>
          <img src="images/sw-MRCA.png" alt="" width="100%">
          <p> I independently developed a web-based user interface within 3 months for teleoperating an electric
            wheelchair. The interface, created using JavaScript, HTML, and CSS in ROS, displays real-time camera
            images and a 2D map of the environment. State-of-the-art libraries such as rosbridge and roslibjs were
            employed in the implementation. For a video demonstration, please click on the OneDrive link provided
            <a href="https://1drv.ms/v/s!AmZUuXEUd5PYjJ54pIUOLrf5bF_MDA?e=0UXFkY"><b>here</b></a>!
          </p>
        </div>
      </ul>
    </div>

    <form class="item" action="/" method="post">
      <button type="button submit" name="navLink" value="swDevel" class="btn btn-outline-primary">Back To Main Page</button>
    </form>
  </div>


</body>
<footer id="footer-swDevel">
  © 2023 Law Wei Chuan.
</footer>
</html>
