.hobbies-top-container
{
  background-color: #ef8172;
  text-align: center;
  height: 700px;
}

.portfolio-image {
  max-height:450px;
  margin: 0;
  position: sticky;
  left: 0;
}

.carousel-item {
  padding: 2rem 20%;
}

.dotted-line
{
  margin: 30px auto 0 auto;
  border: dotted #FFFFFF 6px;
  border-bottom: none;
  width:5%;
  opacity: .8;
}

.hobbies-title
{
  font-weight: bold;
  font-size: 2.5rem;
  padding-top: 2rem;
  margin: 0 auto 2rem auto;
  font-family: 'Montserrat', sans-serif;
  color: #a84639;
}

.carousel{
  position: sticky;
  padding-top: 10px;
}

.hobbies-top-container .btn-outline-primary {
  font-family: 'Montserrat', sans-serif;
  --bs-btn-font-weight: 800;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #a84639;
  --bs-btn-border-color: #a84639;
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}
