/* Hobbies Page */
.hobbies-top-container
{
  background-color: #ef8172;
  text-align: center;
  height: 700px;
  /* height: auto; */
}

.hobbies-title
{
  font-weight: bold;
  font-size: 2.5rem;
  padding-top: 2rem;
  margin: 0 auto 2rem auto;
  font-family: 'Montserrat', sans-serif;
  color: #a84639;
}

.hobbies-top-container .btn-outline-primary {
  font-family: 'Montserrat', sans-serif;
  --bs-btn-font-weight: 800;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #a84639;
  --bs-btn-border-color: #a84639;
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.portfolio-image-caption, .hwdesign-image-caption, .hwrender-image-caption {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #FFFFFF;
}


#footer-hobbies{
  bottom: 0;
  width: 100%;
  background-color: #ef8172;
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  position:fixed;
  height: 2.5rem;            /* Footer height */
  z-index: -1;
}

/* Robotics Page */
.robotics-top-container
{
  background-color: #7281ef;
  text-align: center;
  height: 700px;
}

.robotics-title
{
  font-weight: bold;
  font-size: 2.5rem;
  padding-top: 2rem;
  margin: 0 auto 2rem auto;
  font-family: 'Montserrat', sans-serif;
  color: #3946a8;
}

.robotics-top-container .btn-outline-primary {
  font-family: 'Montserrat', sans-serif;
  --bs-btn-font-weight: 800;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #3946a8;
  --bs-btn-border-color: #3946a8;
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

#footer-hwDesign{
  bottom: 0;
  width: 100%;
  background-color: #7281ef;
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  position:fixed;
  height: 2.5rem;            /* Footer height */
  z-index: -1;
}
/* Rendering Page */
.rendering-top-container
{
  background-color: #519448;
  text-align: center;
  height: 700px;
}

.rendering-title
{
  font-weight: bold;
  font-size: 2.5rem;
  padding-top: 2rem;
  margin: 0 auto 2rem auto;
  font-family: 'Montserrat', sans-serif;
  color: #26581f;
}

.rendering-top-container .btn-outline-primary {
  font-family: 'Montserrat', sans-serif;
  --bs-btn-font-weight: 800;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #26581f;
  --bs-btn-border-color: #26581f;
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

#footer-hwRender{
  bottom: 0;
  width: 100%;
  background-color: #519448;
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  position:fixed;
  height: 2.5rem;            /* Footer height */
  z-index: -1;
}
/* Hobbies Page, Robotics Page and Rendering Page */
.portfolio-image {
  max-height:450px;
  margin: 0;
  position: sticky;
  left: 0;
}

.carousel-item {
  padding: 2rem 20%;
}

.dotted-line
{
  margin: 30px auto 0 auto;
  border: dotted #FFFFFF 6px;
  border-bottom: none;
  width:5%;
  opacity: .8;
}

.carousel{
  position: sticky;
  padding-top: 10px;
}

.item{
  padding-bottom: 5rem;
}
